body {
    margin: 0 auto;
    padding: 0 auto;
    background-color: #ccc;
}

div {
    color: #222;
}

button {
    color:red;
    margin-top: 15px;
}

nav {
    position: absolute;
    right: 10px;
    top: 10px;
}

.mobile-trigger {
    position: absolute;
    right: 10px;
    top: 3px;
}